In [1]:
import io

In [2]:
import pandas as pd

In [3]:
pd.read_json("train.json")

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [8]:
pd.read_json('https://github.com/json-api/json-api/blob/gh-pages/_format/upcoming/normative-statements.json')

ValueError: Expected object or value

In [1]:
!pip install mysql.connector

Collecting mysql.connector

WARNING: Ignoring invalid distribution -ensorflow (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow (c:\users\user\anaconda3\lib\site-packages)

  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     -------------------------------------- 11.9/11.9 MB 135.3 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp38-cp38-win_amd64.whl size=247968 sha256=cd068a71565356d6d2910e92ecfae14c607a32a71c431592220a2ea5aaab41c4
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\57\e4\98\5feafb5c393dd2540e44b064a6f95832990d543e5b4f53ea8f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [4]:
import mysql.connector

In [5]:
conn = mysql.connector.connect(host='localhost',user='root',password='',database='world')

In [9]:
pd.read_sql_query("SELECT * FROM city", conn)

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]

In [10]:
pd.read_sql_query("SELECT * FROM city WHERE CountryCode LIKE'IND'", conn)

       ID                Name CountryCode        District  Population
0    1024     Mumbai (Bombay)         IND     Maharashtra    10500000
1    1025               Delhi         IND           Delhi     7206704
2    1026  Calcutta [Kolkata]         IND    West Bengali     4399819
3    1027    Chennai (Madras)         IND      Tamil Nadu     3841396
4    1028           Hyderabad         IND  Andhra Pradesh     2964638
..    ...                 ...         ...             ...         ...
336  1360        Ambala Sadar         IND         Haryana       90712
337  1361          Baidyabati         IND    West Bengali       90601
338  1362               Morvi         IND         Gujarat       90357
339  1363             Raigarh         IND     Chhatisgarh       89166
340  1364            Vejalpur         IND         Gujarat       89053

[341 rows x 5 columns]